.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation li{
  list-style: none;
  margin-right: 20px;
  
}
.navigation{
  display: flex;
  justify-content: center;
}
.welcome{
  background-color: #3d434e;
}
.home{
  width: 500px;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
}
.card{
  display: flex;
  flex-direction: row;
}
.card .infor{
  display: flex;
  flex-direction: row;
}
.card{
  margin-top: 20px;
}
.infor_answer{
  display: flex;

}
.infor_createQ{
  display: flex;
}
h4{
  padding: 0;
  margin: 0!important;
}
.score{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
}
p{
  padding: 0;
  margin: 0;
}